.wrapper {
    background-color: rgba(0,0,0, 0.54);
    border-radius: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper h2 {
    margin: 1rem auto;
}